@import 'promo'
@import 'variables'
@import 'mixins'
@import 'header'
@import 'buttons'
@import 'block2'



body
    margin: 0 auto 
.container 
    font-family: 'Museo Sans Cyrl', sans-serif
    max-width: 950px
    margin: 0 auto 